body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ask-name-page-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header-container {
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.header-container input[type='button'] {
  right: 0.5rem;
  position: absolute;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

.content-container {
  height: calc(100vh - 4rem - 1px);
  width: 100%;
}

.message-list-container {
  overflow: scroll;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
}

.message-item-container {
  margin: 0.5rem 0.5rem 0 0.5rem;
  max-width: 50%;
}

.message-item-author {
  font-size: 1.2rem;
  font-weight: bold;
}

.message-item-content-container {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: fit-content;
  word-break: break-word;
}

.message-item-date {
  font-size: 0.5rem;
}

.input-bar-container {
  position: fixed;
  height: 3rem;
  bottom: 0px;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid black;
}

.input-bar-container input[type='text'] {
  flex: 1;
  height: 2rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
  font-size: 1rem;
}

.input-bar-container input[type='button'] {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}
